<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StandUpReminder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <StandUpReminder.Properties.Settings>
            <setting name="PauseDuration" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="StandupIdleTime" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="NotifactionAlertEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StretchingShowDuration" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StretchingIdeDuration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShowTimerTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StretchingReminderEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </StandUpReminder.Properties.Settings>
    </userSettings>
</configuration>